### Import Modules

In [1]:
from element_recognition import get_ratio, make_compositions

An example of raw materials (starting materials)

In [2]:
materials = ['Li2O', 'La2O3', 'TiO2']

### When you want to find the mixing ratio

#### products: string, or list

In [3]:
get_ratio(products = 'Li0.33La0.5TiO3', materials = materials, exact = False)

                  Li2O  La2O3  TiO2
Li0.33La0.5TiO3  0.165   0.25   1.0

In [4]:
get_ratio(products = ['Li2La2TiO6', 'Li0.33La0.5TiO3'], materials = materials, exact = False)

                  Li2O  La2O3  TiO2
Li2La2TiO6       1.000   1.00   1.0
Li0.33La0.5TiO3  0.165   0.25   1.0

#### mathch_all: bool, default True

Check to see if the proportions of all the elements are correct, and return None if the number of elements does not match even one.

In [5]:
get_ratio(products = ['Li2La2TiO6', 'Li0.33La0.5TiO3'], materials = materials, exact = True)

                 Li2O La2O3  TiO2
Li2La2TiO6        1.0   1.0   1.0
Li0.33La0.5TiO3  None  None  None

#### It is OK if the same element appears twice.

In [6]:
get_ratio('Li2(LiLa)2TiO7', materials, exact = True)

                Li2O  La2O3  TiO2
Li2(LiLa)2TiO7   2.0    1.0   1.0

### It is OK if there is a "()".

In [7]:
get_ratio('((LiLa)2Ti)3O18', materials, exact = True)

                 Li2O  La2O3  TiO2
((LiLa)2Ti)3O18   3.0    3.0   3.0

### When you want to write down the composition name

#### The function automatically generates the composition, given only the raw materials as arguments.

In [8]:
make_compositions(materials)

,H,He,Li,Be,B,C,N,O,F,Ne,...,Mt,Ds,Rg,Cn,Nh,Fl,Mc,Lv,Ts,Og
Ti15O30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Ti14La2O31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,31.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Ti13La4O32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,32.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Ti12La6O33,0.0,0.0,0.0,0.0,0.0,0.0,0.0,33.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Ti11La8O34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,34.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Li26TiLa2O18,0.0,0.0,26.0,0.0,0.0,0.0,0.0,18.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Li26La4O19,0.0,0.0,26.0,0.0,0.0,0.0,0.0,19.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Li28TiO16,0.0,0.0,28.0,0.0,0.0,0.0,0.0,16.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Li28La2O17,0.0,0.0,28.0,0.0,0.0,0.0,0.0,17.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Li30O15,0.0,0.0,30.0,0.0,0.0,0.0,0.0,15.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### If the function is given a percentage, it will produce the corresponding composition.

In [9]:
make_compositions(materials, ratio = [1, 1, 1])

,H,He,Li,Be,B,C,N,O,F,Ne,...,Mt,Ds,Rg,Cn,Nh,Fl,Mc,Lv,Ts,Og
Li2TiLa2O6,0.0,0.0,2.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
make_compositions(materials, ratio = [[1, 2, 3], [3, 3, 4]])

,H,He,Li,Be,B,C,N,O,F,Ne,...,Mt,Ds,Rg,Cn,Nh,Fl,Mc,Lv,Ts,Og
Li2Ti3La4O13,0.0,0.0,2.0,0.0,0.0,0.0,0.0,13.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Li6Ti4La6O20,0.0,0.0,6.0,0.0,0.0,0.0,0.0,20.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### Tips: When you want to write out a composition formula

In [11]:
products = '((LiLa)2Ti)3O18'
make_compositions(materials, get_ratio(products, materials, exact = True)).index[0]

'Li6Ti3La6O18'

#### You can also specify the order.

##### From the front

In [12]:
make_compositions(materials, get_ratio(products, materials, exact = True), front = ['O', 'Ti', 'Li', 'La']).index[0]

'O18Ti3Li6La6'

##### From the back

In [13]:
make_compositions(materials, get_ratio(products, materials, exact = True), front = [], back = ['O', 'Ti', 'Li', 'La']).index[0]

'La6Li6Ti3O18'