In [1]:
from element_recognition import *
from ternary_diagram import *

In [2]:
materials = ['Li2O', 'LaO3', 'TiO2']

In [3]:
Ratio(products = 'Li0.33La0.5TiO3', materials = materials)

                  Li2O  LaO3  TiO2
Li0.33La0.5TiO3  0.165   0.5   1.0

In [4]:
Ratio(products = ['Li2LaTiO6', 'Li0.33La0.5TiO3'], materials = materials)

                  Li2O  LaO3  TiO2
Li2LaTiO6        1.000   1.0   1.0
Li0.33La0.5TiO3  0.165   0.5   1.0

In [10]:
df = Ratio(products = ['Li2LaTiO6', 'Li0.33La0.5TiO3'], materials = materials, match_all = True)
print(df)

Empty DataFrame
Columns: []
Index: []

In [8]:
Ratio(products = 'Li2LaTiO6', materials = materials, match_all = True)

           Li2O  LaO3  TiO2
Li2LaTiO6   1.0   1.0   1.0